.workout {
  width: 50% !important;
}

@media (max-width: 720px) {
  .workout {
    width: 75% !important;
  }

  .mobileColumn {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

